---
import FooterMailingList from './FooterMailingList.astro';
import FooterNavItem from './FooterNavItem.astro';

import { SITE_URL } from '../../consts';

const today = new Date();
---

<footer class="px-8 pb-8 pt-20 bg-slate-700 border-t-8 border-t-pink-400">
    <div class="flex justify-evenly space-x-32">
        <div class="flex space-x-32">
            <div>
                <h6 class="font-semibold text-slate-300 mb-7 whitespace-nowrap">
                    Travel Guides
                </h6>
                <div class="flex flex-col space-y-3.5">
                    <FooterNavItem
                        title="Itineraries"
                        icon="list-check-2-line"
                        href=`${SITE_URL}itineraries`
                    />
                    <FooterNavItem
                        title="Transportation"
                        icon="train-2-line"
                        href=`${SITE_URL}transportation`
                    />
                    <FooterNavItem
                        title="Accomodation"
                        icon="building-3-line"
                        href=`${SITE_URL}accomodation`
                    />
                    <FooterNavItem
                        title="Budgeting"
                        icon="receive-money-line"
                        href=`${SITE_URL}budgeting`
                    />
                    <FooterNavItem
                        title="Food & Drink"
                        icon="bowl-line"
                        href=`${SITE_URL}food-and-drink`
                    />
                    <FooterNavItem
                        title="Attractions"
                        icon="map-pin-line"
                        href=`${SITE_URL}attractions`
                    />
                    <FooterNavItem
                        title="Culture"
                        icon="miyajima-torii-line"
                        href=`${SITE_URL}culture`
                    />
                    <FooterNavItem
                        title="Shopping"
                        icon="shopping-cart-2-line"
                        href=`${SITE_URL}shopping`
                    />
                    <FooterNavItem
                        title="Language"
                        icon="translate-2-line"
                        href=`${SITE_URL}language`
                    />
                </div>
            </div>
            <div>
                <h6 class="font-semibold text-slate-300 mb-7">Navigation</h6>
                <div class="flex flex-col space-y-3.5">
                    <FooterNavItem title="Home" href=`${SITE_URL}home` />
                    <FooterNavItem title="Guides" href=`${SITE_URL}guides` />
                    <FooterNavItem title="Itineraries" href=`${SITE_URL}itineraries` />
                    <FooterNavItem title="Blog" href=`${SITE_URL}blog` />
                    <FooterNavItem title="About Us" href=`${SITE_URL}about-us` />
                    <FooterNavItem title="Contact Us" href=`${SITE_URL}contact` />
                    <FooterNavItem
                        title="Privacy Policy"
                        href=`${SITE_URL}privacy-policy`
                    />
                    <FooterNavItem
                        title="Terms & Conditions"
                        href=`${SITE_URL}terms-and-conditions`
                    />
                </div>
            </div>
        </div>
        <FooterMailingList />
    </div>
    <div class="text-center">
        <span class="text-sm text-white">
            &copy; {today.getFullYear()} Jaunting Japan. All rights reserved.
        </span>
    </div>
</footer>
